<div class="row justify-content-center">
  <div class="col-12">
    <div id="about">
      <div class="container w-75">
        <div class="card w-100 text-center">
          <h2>From medic to web developer.</h2>
          <p> <br>
            Combining my passion for mental health and my desire to create.</p>
        </div>
      </div>
    </div>
  </div>
</div>
