<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center">
    <%= image_tag 'profile.jpg', alt: "profile photo", class: 'avatar' %>
    <%# <h1 class="title-main ">Hi, I'm Nozomu</h1> %>
    <h2 class="pt-3 title-main">Hi I'm
      <span
     class="txt-rotate"
     data-period="1000"
     data-rotate="[&quot; Nozomu.&quot; , &quot; のぞむ.&quot;]"></span>
    </h2>
  </div>
</div>
